
h1{
    text-transform: uppercase;
    font-size: 2rem ;
    color: green;
    
}
h2{
    font-size: 1.5rem;
    color: orange;
}
p{
    font-size: larger;
    color: darkseagreen;
}
ul, ol {
    color: grey;
    font-size: large;
}
img{
    border: 4px solid grey ;
    padding: 0.5rem;
}